{{!-- List of pages template for Handlebars --}}
<div class="pages-list">
  <h1>All Pages</h1>

  {{#if pages.length}}
    <div class="pages">
      {{#each pages}}
        <div class="page-item">
          <h2><a href="/api/v1/pages/{{id}}?format=html">{{name}}</a></h2>
          {{#if metadata.description}}
            <p>{{metadata.description}}</p>
          {{/if}}
          <div class="page-meta">
            <p>ID: {{id}}</p>
            {{#if items.length}}
              <p>Contains {{items.length}} item(s)</p>
            {{else}}
              <p>No items</p>
            {{/if}}
          </div>
        </div>
      {{/each}}
    </div>
  {{else}}
    <p>No pages found.</p>
  {{/if}}
</div>
